@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Coiny&family=Inria+Serif:wght@300&display=swap');

@layer components {
    .text-color {
        @apply text-dark dark:text-bright
    }

    .text-color-2 {
        @apply text-blue-800 dark:bg-purple-800
    }

    .background {
        @apply bg-bright dark:bg-dark
    }

    .text-stroke {
        color: transparent;
        text-shadow: none;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
    }

    .custom-scrollbar {
        scrollbar-color: #212121 #e8e8e8;
        scrollbar-width: thin;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: #e8e8e8;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #212121;
        border-radius: 20px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #434343;
    }
    
}